 
  .media {
    width: 5em;
    height: 5em;
  
  }
  
 .card
 {
    display: block;
       border-radius: 1px !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
  margin: auto;
  background-color: rgba(255, 204, 35, 0.692) !important;
  
 }
 .cardTitle div span{
  text-decoration: none;

 }
.card:hover{


 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 
}
.cardTitle{
  background-color:rgba(255, 204, 35, 0.61);
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
/* .card img {
  width: 60px;
  height:60px;
} */